<%= provide(:title, "Subscribers") %>

<div class="page-header">
  <h1>Subscribers</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Created</th>
      <th class="actions col-md-1">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.email %></td>
        <td><%= localize(subscriber.created_at, format: :short) %></td>
        <td class="actions">
          <%= link_to "Destroy", [:admin, subscriber], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-right">
  <%= paginate @subscribers %>
</div>
