<%= provide(:title, "Articles") %>

<div class="btn-group pull-right">
  <%= link_to('Add an Article', new_admin_article_path, class: 'btn btn-info') %>
</div>

<div class="page-header">
  <h1>Articles</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-9">
    <div id="articles">
      <% @articles.each do|article| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>
              <%= link_to article.name, [:admin, article] %>
              <small><em><%= I18n.l(article.created_at, format: :short) %></small>
            </h4>
            <hr class="featurette-divider">
            <%= truncate(article.content, length: 500) { link_to "Read more.", [:admin, article], class: 'btn btn-xs btn-info'}  %>
          </div>
          <div class="panel-footer">
            <div class="btn-group">
              <%= link_to 'View on website', frontend_article_path(article), class: "btn btn-sm btn-info" %>
              <%= link_to 'Edit', edit_admin_article_path(article), class: "btn btn-sm btn-default" %>
              <%= link_to 'Destroy', [:admin, article], method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-sm btn-danger"  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
      <%= link_to 'Dashboard', admin_root_path, class: "list-group-item" %>
      <%= link_to 'Subscribers', admin_subscribers_path, class: "list-group-item"  %>
      <%- if administrator_signed_in? %>
        <%= link_to "Sign Out", destroy_administrator_session_path, method: :delete, class: "list-group-item"  %>
      <% else %>
        <%= link_to "Sign In", new_administrator_session_path, class: "list-group-item"  %>
      <% end %>
    </div>
  </div>

</div>

<div class="pull-right">
  <%= paginate @articles %>
</div>
