<%= provide(:title, "Dashboard") %>

<div class="btn-group pull-right">
  <%= link_to('Add an Article', new_admin_article_path, class: 'btn btn-info') %>
</div>

<h1>Dashboard</h1>

<hr class="featurette-divider">

<div class="row">

  <div class="col-md-6">
    <div class="list-group">
      <a href="<%= admin_articles_path %>" class="list-group-item visitor">
        <h3 class="pull-right"><i class="fa fa-file-word-o"></i></h3>
        <h4 class="list-group-item-heading count"><%= @article_count %></h4>
        <p class="list-group-item-text">Articles</p>
      </a>
    </div>
  </div>

  <div class="col-md-6">
    <div class="list-group">
      <a href="#" class="list-group-item facebook-like">
          <h3 class="pull-right"><i class="fa fa-comments"></i></h3>
          <h4 class="list-group-item-heading count"><%= @comment_count %></h4>
          <p class="list-group-item-text">Comments</p>
      </a>
    </div>
  </div>
</div>
